{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="{% static 'css/min.css' %}">

    <title>SRPT</title>
    <style>

        .navbar-custom {
            background-color: lightgreen;
        }
        
    </style>
    <title>{% block title %} {% endblock %}</title>
    <style>{% block css %} {% endblock %}</style>
</head>
<body>



    <nav class="navbar navbar-expand-md navbar-light " style="background-color: #ffffff; box-shadow: 0.5px 1px 4px 1px grey; " >
        <div class="container" >
            <a class="navbar-brand" href="{% url 'index' %}">
                 
                <span>Zooming Cls</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% block class_link %}
                
                {% endblock %}
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus"></i></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if user.is_teacher %}
                                <a class="dropdown-item" href="#">Create Class</a>
                                {% else %}
                                <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#joinClass">Join Class</a>
                                {% endif %}
                              </div>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}"  class="nav-link">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
                </div>
                </div>

        </nav>
    
    
    <!-- Modal -->
    <div class="modal fade" id="joinClass" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle"> Paste The Code to join</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
                <form action="{% url 'join' %}" method="POST">
                    <div class="form-group">
                      {% csrf_token %}
                      <input type="text" class="form-control" id="exampleInputEmail1" name="code" aria-describedby="emailHelp" placeholder="Enter the Code">
                      
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Join</button>
                  </form>
    
            </div>
    
          </div>
        </div>
      </div>



<div class="container">
{% block content %}
    
{% endblock %}
</div>
<footer class="mainfooter" role="contentinfo" style="background-color: #ebf4fb; color:#8a8989;">
    <div class="footer-middle" style=" padding-top: 1em;">
    <div class="container">
      <div class="row">
  
    <div class="col-4">
      <h5 style="color:rgb(49, 48, 48);">Zooming CLS</h5>
    </div>
        <div class="col-5"> <p>Made by <strong> Md. Nazrul Islam Yeasin</strong> | Verson : <strong> 1.0.1</strong></p></div>
  
      
    
      <div class="col-3">
        <p> Source Code on Github  <a href="https://github.com"><i class="fab fa-github"></i></a>  </p>
      </div>
      
  
  
      </div>
    </div>
    </div>
  </footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>




