{% extends 'class/base.html' %}
{% block class_link %}
<div class="navbar-nav ml-auto">
    <a class="nav-item nav-link active" href="{% url 'single' room.id %}"><i class="fas fa-bars"></i>  Stream<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="#"><i class="fas fa-file-signature"></i> Files</a>
    <a class="nav-item nav-link" href="{% url 'people' room.id %}"> <i class="fas fa-users"></i> People</a>
    <a class="nav-item nav-link" href=""  data-toggle="modal" data-target="#exampleModal">Leave Class <i class="fas fa-sign-out-alt"></i> </a>

  </div>
{% endblock %}
{% block css %}
.box{
    box-shadow: 1px 1px 5px 1px #a9a7a7;
    border-radius:10px;
    text-align:center;
}
.box img{
    width:100%;
    border-radius:5%;

}
{% endblock %}

{% block content %}

    <div class="row mt-3">
        {% for s in s%}
        <div class="col-2 box m-2 p-3">
            <img src="{{ s.photo.url  }}" alt="">
            <h4 class="text">{{ s.name }}</h4>
        </div>
        {% endfor %}
    </div>
{% endblock %}
    