{% extends 'class/base.html' %}

{% block class_link %}
<div class="navbar-nav ml-auto">
    <a class="nav-item nav-link active" href="#">Stream<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="#">Files</a>
    <a class="nav-item nav-link" href="{% url 'people' room.id %}">People</a>
    <a class="nav-item nav-link" href=""  data-toggle="modal" data-target="#exampleModal">Leave Class <i class="fas fa-sign-out-alt"></i> </a>

  </div>
{% endblock %}

{% block css %}
.main_box{
    border-radius:20px;
    background: rgb(63,94,251);
background: linear-gradient(41deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding:30px 100px;
}
.box{
  border-radius: 20px;
    padding: 10px 10px;
    box-shadow: 1px 1px 2px 1px #dcd5d5;
}
{% endblock %}
{% block content %}
        <div class="row  mt-3 ">

            <div class="messages" style="position: absolute; top:12%; left:70%; z-index: 1;" >
                {% for message in messages %}
                    <div class="alert alert-primary" {% if message.tags %}
                        class="{{ message.tags }}"{% endif %}>{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            
                {% endfor %}
            </div>

            <div class="col-10 main_box" style="margin:0 auto;" >
                    <h2>{{ room.name }}</h2>
                    <p>{{ room.details }}</p>
                    <h5 style="color:white;">Code : {{ room.code }}</h5>
            </div>
        </div>

        <div class="row mt-3" >
            <div class="col-10" style="margin: 0 auto;">
                <div class="row" >
                    <div class="col-2">
                        <img src="{{ user.photo.url }}" alt="" style="width: 80%; border-radius: 20%;">
                    </div>
                    
                    <div class="col-10">
                        <div class="col-14" style="margin:0 auto;" >
                            <form action="{% url 'stream_create' room.id %}" method="POST">
                              {% csrf_token %}
                            <div class="input-group mb-3">
                                <input type="text" name='post' class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                                <div class="input-group-prepend">
                                    <button class="btn btn-secondary" type="submit"><i class="fas fa-rocket"></i></button>
                                  </div>
                              </div>
                            </form>
                    </div>
        
                </div>
                </div>
            </div>

        </div>

        <div class="row mt-3" >
        <div class="col-10" style="margin: 0 auto;">
          {% for s in stream %}
            <div class="row mt-2 box" >
              <div class="col-2">
                <img src="{{ s.user.students.photo.url }}" alt="" style="width: 40%; border-radius: 40%;">
            </div>
            <div class="col-10">
              <p>{{ s.post }}</p>
            </div>
          </div>
          {% endfor %}
        </div>

        </div>





<!-- modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Leave Already ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4> Are You sure, You want to leave the Class </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">No, I am not</button>
          <a href="{% url 'leave' room.id %}" class="btn btn-danger"> Yes I am</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}