{% extends 'class/base.html' %}

{% block class_link %}


<div class="navbar-nav ml-auto">
    <a class="nav-item nav-link active" href="{% url 'single' room.id %}"><i class="fas fa-bars"></i>  Stream<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="#"><i class="fas fa-file-signature"></i> Files</a>
    <a class="nav-item nav-link" href="{% url 'people' room.id %}"> <i class="fas fa-users"></i> People</a>
    <a class="nav-item nav-link" href=""  data-toggle="modal" data-target="#exampleModal">Leave Class <i class="fas fa-sign-out-alt"></i> </a>

  </div>

{% endblock %}

{% block css %}
.main_box{
    border-radius:20px;
    display: block;
    height: 100%;
    left: 0;
    opacity:;
    
    top: 0;
    width: 100%;

    background-image: radial-gradient( 25rem 18.75rem ellipse at bottom right,#4285f4, transparent );
    overflow:hidden;
    padding:30px 100px;
    position:relative;
   
    
    
}
.main_box h2{
  z-index:3;
}

.box{
  border-radius: 20px;
    padding: 10px 10px;
    box-shadow: 1px 1px 2px 1px #dcd5d5;
}
{% endblock %}
{% block content %}
        <div class="row  mt-3 ">

            <div class="messages" style="position: absolute; top:12%; left:70%; z-index: 200;" >
                {% for message in messages %}
                    <div class="alert alert-primary" {% if message.tags %}
                        class="{{ message.tags }}"{% endif %}>{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            
                {% endfor %}
            </div>

            <div class="col-11 main_box" style="margin:0 auto; background-image: url('{{ room.cover.url}}');" >
                    <h2>{{ room.name }}</h2>
                    <p>{{ room.details }}</p>
                    <h5 style="color:white;">Code : {{ room.code }}</h5>
            </div>
        </div>



          <!-- New Design-->
        <div class="row mt-2">
          <div class="col-11" style="margin: 0 auto;">
            <div class="row">
              <div class="col-3">
                <div class="filebox ">
                  <h5>Upcomming Files</h5>
                  <p> No File yet</p>
                  <a href="" class="text-right"> View All </a>
                </div>
              </div>
              <div class="col-9">
                <div class="sendbox">
                  <img src="{{ user.students.photo.url }}" alt="">
                  <form action="{% url 'stream_create' room.id %}" method="POST" style="display: flex;">
                    {% csrf_token %}
                    <input type="text" name ="post" class="form-control" placeholder="Add Stream" required>
                    <button type="submit"> <i class="fas fa-rocket "></i></button>
                  </form>
                </div>
                
                <div style="margin-top: 50px;">
                  {% for s in stream %}
                  <div class="stream">
                    <div style="display: inline-flex;">
                      <img src="{{ s.user.students.photo.url }}" alt="">
                      <h5 style="margin-left:10px;"><strong>{{ s.user.students.name }}</strong></h5> 
                      
                      <p style="color:gray">{{ s.created_at|timesince }} ago </p>
                      
                    </div>
                    {% if s.post|length < 10 %}
                    <p> yes it is true</p>
                    {% else %}
                    <p style="padding:1.5rem;">{{s.post }}</p>
                    {% endif %}
                      <hr>
                      <a href="" data-toggle="collapse" data-target="#collapseExample{{ s.id }}" aria-expanded="false" aria-controls="collapseExample{{ s.id }}"> Reply </a>
                  </div>
                    <!-- Reply box -->
                  <div class="collapse"  id="collapseExample{{ s.id }}" style="margin-left:50px ;">
                    <div class="card card-body">
                      <form action="{% url 'comment_create' s.id %}" method="POST" style="display: flex;">
                        {% csrf_token %}
                        <input type="text" name="comment" class="form-control" placeholder="Add Comment" style="margin-right:3px;">
                        <button class="btn btn-primary btn-sm" type="submit"> Add Comment </button>
                      </form>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                
              </div>
            </div>
          </div>
        </div>



          <!-- End of New Design -->
       





<!-- modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Leave Already ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4> Are You sure, You want to leave the Class </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">No, I am not</button>
          <a href="{% url 'leave' room.id %}" class="btn btn-danger"> Yes I am</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}