{% extends 'class/base.html' %}
{% block class_link %}
<div class="navbar-nav ml-auto">
    <a class="nav-item nav-link active" href="#">Stream<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="#">Files</a>
    <a class="nav-item nav-link" href="{% url 'people' room.id %}">People</a>
  </div>
{% endblock %}
{% block css %}
.main_box{
    border-radius:20px;
    background: rgb(63,94,251);
background: linear-gradient(41deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding:30px 100px;
}
{% endblock %}
{% block content %}
        <div class="row  mt-3 ">
            <div class="col-10 main_box" style="margin:0 auto;" >
                    <h2>{{ room.name }}</h2>
                    <p>{{ room.details }}</p>
                    <h5 style="color:white;">Code : {{ room.code }}</h5>
            </div>
        </div>

        <div class="row mt-3" >
            <div class="col-10 main_box" style="margin:0 auto;" >
                    <form action="">
                        <input type="text">
                    </form>
        </div>
        </div>

        <div class="row mt-3" >
            <div class="col-10 main_box" style="margin:0 auto;" >
                    <a href="{% url 'people' room.id %}"> People </a>
        </div>
        </div>

{% endblock %}