{% extends 'class/base.html' %}

{% block class_link %}


<div class="navbar-nav ml-auto">
    <a class="nav-item nav-link active" href="{% url 'single' room.id %}"><i class="fas fa-bars"></i>  Stream<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="#"><i class="fas fa-file-signature"></i> Files</a>
    <a class="nav-item nav-link" href="{% url 'people' room.id %}"> <i class="fas fa-users"></i> People</a>
    <a class="nav-item nav-link" href=""  data-toggle="modal" data-target="#exampleModal">Leave Class <i class="fas fa-sign-out-alt"></i> </a>

  </div>

{% endblock %}