{% extends 'base/base.html' %}
{% load static %}
{% block title %} Zooming CLS {% endblock %}


{% block content %} 

<!-- 
<div class="row justify-content-center mt-5">
        
        <div class="col-md-7 text-center">

             <h1>Welcome</h1>
             <br>
             <br>
            <h5>Login as,</h5>

            <a role="button" class="btn btn-primary btn-lg" href="">Teacher</a>
            <a role="button" class="btn btn-primary btn-lg" href="">Student</a>

            <!-- <a href="/classroom/teacher.html" id="">Teacher</a>
            <a href="/classroom/student.html" id="">Student</a> 
-->

            <div class="row">
                    <div class="col-6 main_section">
                            <h5>Welcome to</h5>
                            <h1> Zooming CLS</h1>
                            <span>Where you can Enjoy<br>Your Study</span><br>
                            <hr>
                            <a href="" class="btn btn-info"> Student</a> &nbsp; <a href="" class="btn btn-primary">Teacher</a>
                               
                    </div>
                    <div class="col-6">
                            <img src="{% static 'others/classroom3.png' %}" alt="">
                    </div>
            </div>

{% endblock %}
